.svg-cart-dims {
	width: 20px;
	height: 20px;
}

.svg-dorohov-dims {
	width: 101px;
	height: 29px;
}

.svg-mail-dims {
	width: 18px;
	height: 16px;
}

.svg-minus-dims {
	width: 22px;
	height: 22px;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-plus-dims {
	width: 22px;
	height: 22px;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

.svg-slider_arrow-dims {
	width: 35px;
	height: 35px;
}

.svg-table1-dims {
	width: 24px;
	height: 24px;
}

.svg-table2-dims {
	width: 22px;
	height: 22px;
}

.svg-table3-dims {
	width: 24px;
	height: 24px;
}

.svg-table4-dims {
	width: 24px;
	height: 24px;
}

.svg-table5-dims {
	width: 22px;
	height: 22px;
}

.svg-table6-dims {
	width: 22px;
	height: 22px;
}

