body {
    font-family: 'PT Sans';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .5);
    display: none;
    z-index: 9000;
}

.slick-slide {
    outline: none;
}

.__bgtext {
    position: relative;
    overflow: hidden;
    &::after {
        content: attr(data-bgtext);
        font-size: 357px;
        line-height: normal;
        text-align: center;
        color: #3A3939;
        opacity: 0.038;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        top: 0%;
        line-height: 357px;
        position: absolute;
        z-index: -1;
    }
}

@media (max-width: $resp768) {
    .__bgtext {
        &::after {
            font-size: 55px;
            line-height: 100px;
            top: 0%;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    font-weight: normal;
    .is--center {
        text-align: center !important;
        .table__count {
            justify-content: center;
        }
    }
    .catalog__table__iconset {
        display: flex;
        align-items: center;
        span {
            line-height: 20px;
            display: block;
            margin-left: 5px;
        }
    }
    &.is--basket {
        text-align: left;
        tr {
            &.is--heading {
                background: rgba(77, 100, 170, 0.1);
                border-bottom: 0;
                margin-top: -1px;
                td {
                    font-size: 18px;
                    color: $primary-color;
                    text-align: left;
                }
            }
            &.is--noborder {
                border-bottom: 0;
            }
            &.is--row {
                td {
                    color: $dark-color;
                    font-size: 18px;
                    text-align: left;
                    span {
                        &.is--new {
                            color: $secondary-color;
                        }
                    }
                }
            }
            &.is--all {
                td {
                    font-size: 24px;
                    text-align: left;
                    &:first-child {
                        padding-left: 0;
                        text-align: left;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    tr {
        th,
        td {
            font-weight: normal;
            color: $dark-color;
            vertical-align: bottom;
            vertical-align: middle;
            svg {
                fill: $secondary-color;
            }
        }
        th {
            font-size: 20px;
        }
        td {
            font-size: 18px;
        }
    }
    thead {
        background: #fff;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        tr {
            th {
                padding: 25px 20px;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $primary-color;
            td {
                text-align: center;
                padding: 20px;
                span.is--msvg {
                    display: none;
                }
            }
        }
    }
}

.table {
    &__count {
        display: flex;
        &__inner {
            padding: 5px 0;
            background: #F9F9F9;
            border-radius: 50px;
            display: flex;
            align-items: center;
            input[type="text"] {
                width: 30px;
                height: 30px;
                display: block;
                border-radius: 100%;
                background: $primary-color;
                color: #fff;
                border: none;
                text-align: center;
                font-size: 14px;
                outline: none;
            }
            button {
                padding: 0 10px;
                background: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                display: flex;
                height: 100%;
                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.basket__allm {
    display: none;
}

.basket__btn {
    padding-top: 60px;
    text-align: right;
}

.fancybox-thumbs {
    background: $primary-color;
}

.fancybox-thumbs__list a:before {
    border-color: $secondary-color;
}

@media (max-width: 1075px) {
    #overlay {
        &.is--active {
            display: block;
        }
    }
}

@media (max-width: 1300px) {
    table {
        tr {
            th,
            td {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }
    }
}

@media (max-width: 1100px) {
    table {
        thead,
        .tmhide {
            display: none;
        }
        tbody {
            tr {
                display: block;
                background: #fff;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
                border-bottom: 0;
                margin-bottom: 20px;
                padding: 15px;
                &::before {
                    content: attr(data-mtitle);
                    font-weight: bold;
                    color: $secondary-color;
                    margin-bottom: 15px;
                    display: block;
                    text-align: center;
                }
                td {
                    display: block;
                    text-align: left;
                    padding: 10px 5px 10px 45px !important; 
                    margin-bottom: 15px;
                    span.is--msvg {
                        display: flex;
                        align-items: center;
                        position: relative;
                        margin: 0px 0 10px -35px;
                        &::after {
                            content: attr(data-mtitle);
                            padding-left: 10px;
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
        &.is--basket {
            tbody {
                tr {
                    td {
                        padding: 0 !important;
                        span {
                            &.is--msvg {
                                margin-left: 0;
                                &::after {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .table__count {
        justify-content: flex-start !important;
    }
    .basket__allm {
        display: block;
        ul {
            li {
                margin-bottom: 10px;
                font-size: 20px;
                &.is--first {
                    color: $primary-color;
                }
            }
        }
    }
    .basket__btn {
        text-align: left;
    }
}