.banner {
    position: relative;
    overflow: hidden;
    &::after {
        content: 'sarayli';
        color: rgba(#303030, .05);
        position: absolute;
        font-size: 709px;
        top: 0;
        left: -3%;
        z-index: -1;
    }
    &__inner {
        @extend .container;
        min-height: calc(100vh - 100px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        max-width: 440px;
        width: 100%;
    }
    &__right {
        max-width: 785px;
        width: 100%;
    }
    &__title {
        color: $dark-color;
        font-size: 118px;
        margin-bottom: 10px;
    }
    &__desc {
        color: $grey-color;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 70px;
    }
}

.heading {
    color: $dark-color;
    padding: 0 30px;
    margin-bottom: 30px;
    &.is--normal {
        font-size: 48px;
    }
    &.is--center {
        text-align: center;
    }
    &.is--left {
        text-align: left;
    }
    &__sub {
        font-size: 18px;
        line-height: 18px;
        padding-top: 20px;
    }
    &.is--xs {
        font-size: 36px;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: $secondary-color;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 100px;
    transition: .25s all ease;
    &.is--xl {
        padding: 23px 65px;
    }
    &:hover {
        background: $primary-color;
    }
}

.catalog {
    &__inner {
        @extend .container;
        max-width: 1550px;
        padding-left: 80px;
        padding-right: 80px;
    }
    &__top {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__heading {
        color: $dark-color;
        font-size: 48px;
        line-height: normal;
    }
    &__tabs {
        ul {
            display: flex;
            li {
                margin: 0 5px;
                a {
                    display: block;
                    border: 1px solid transparent;
                    border-radius: 100px;
                    padding: 5px 10px;
                    transition: .25s all ease;
                    &.is--active {
                        color: $secondary-color;
                        border-color: $secondary-color;
                    }
                }
            }
        }
    }
    &__slides {
        position: relative;
    }
    &__carousel {
        margin: 0 -10px;
        &__container {
            &.is--normal {
                display: flex;
                flex-wrap: wrap;
                .catalog__card {
                    max-width: 25%;
                    width: 100%;
                }
            }
        }
        &__arrows {
            button {
                border: none;
                background: transparent;
                width: 35px;
                height: 35px;
                display: flex;
                outline: none;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                cursor: pointer;
                svg {
                    fill: $primary-color;
                }
                &.is--next {
                    transform: rotate(180deg);
                    right: -80px;
                }
                &.is--prev {
                    left: -80px;
                }
            }
        }
    }
    &__card {
        max-width: 25%;
        width: 100%;
        padding: 25px;
        &__inner {
            box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
            background: #fff;
            padding: 20px 40px 70px 40px;
            margin: 0 -5px;
            transition: .25s all ease;
            &:hover {
                transform: translateY(-20px);
            }
        }
        &__img {
            outline: none;
            a {
                display: flex;
                align-items: center;
                text-align: center;
                img {
                    width: auto;
                    outline: none;
                    margin: 0 auto;
                }
            }
        }
        &__art {
            color: $primary-color;
            font-size: 14px;
            text-align: center;
            padding: 0 0 10px 0;
        }
        &__text {
            font-size: 24px;
            line-height: normal;
            color: $dark-color;
            text-align: center;
            margin-bottom: 40px;
            min-height: 93px;
        }
        &__link {
            text-align: center;
        }
    }
    &__page {
        padding: 70px 0;
    }
    &__current {
        &__inner {
            @extend .container;
        }
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 90px 0;
            &__left {
                max-width: 570px;
            }
            &__right {
                margin-left: 30px;
                padding-top: 80px;
            }
            &__img {
                width: 570px;
                height: 530px;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: url(../../img/search.png), auto;
                outline: none;
                position: relative;
                padding: 30px;
                &__icon {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    z-index: 1000;
                    opacity: 0;
                    transition: .25s all ease;
                    padding: 50px;
                    img {
                        width: 50px;
                    }
                }
                img {
                    transition: .25s all ease;
                    max-width: 100%;
                    max-height: 100%;
                    height: 100%;
                    width: auto;
                }
            }
            &__slider {
                display: none;
            }
        }
        &__heading {
            font-size: 64px;
            line-height: 67px;
            color: $dark-color;
            font-weight: normal;
            margin: 0 0 25px 0;
        }
        &__desc {
            margin-bottom: 50px;
            &__title {
                font-size: 24px;
                line-height: 25px;
                color: $dark-color;
                margin-bottom: 20px;
            }
            &__list {
                ul {
                    li {
                        position: relative;
                        padding-left: 20px;
                        line-height: 19px;
                        margin-bottom: 8px;
                        font-size: 18px;
                        color: $dark-color;
                        &::before {
                            content: '';
                            width: 9px;
                            height: 9px;
                            background: $primary-color;
                            border-radius: 100%;
                            position: absolute;
                            left: 0;
                            top: 6px;
                        }
                    }
                }
            }
        }
        &__cart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 75px;
            &__nums {
                display: flex;
                align-items: center;
                padding: 8px 30px;
                background: #F9F9F9;
                border-radius: 100px;
                button {
                    width: 22px;
                    height: 22px;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline: none;
                    display: block;
                    svg {
                        fill: $secondary-color;
                    }
                }
                input[type="text"] {
                    width: 50px;
                    height: 50px;
                    outline: none;
                    background: $primary-color;
                    border: none;
                    border-radius: 100%;
                    display: flex;
                    margin: 0 30px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #fff;
                    font-size: 24px;
                }
            }
            &__btn {
                .btn {
                    font-size: 14px;
                    padding-right: 30px;
                    padding-left: 30px;
                    padding-top: 22px;
                    padding-bottom: 22px;
                }
            }
        }
    }
    &__table {
        margin-bottom: 140px;
        &__inner {
            @extend .container;
            .heading {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &__wrap {
            margin-bottom: 80px;
        }
        &__btn {
            text-align: center;
        }
    }
}

._tab {
    &-target {
        cursor: pointer;
    }
    &-container {
        display: none;
        &.is--active {
            display: block;
        }
    }
}

.inabout {
    &__inner {
        @extend .container;
        padding-top: 300px;
        display: flex;
        align-items: center;
        padding-bottom: 200px;
        justify-content: space-between;
    }
    &__left {
        max-width: 570px;
        width: 100%;
    }
    &__heading {
        font-size: 48px;
        color: $dark-color;
        font-weight: normal;
    }
    &__desc {
        margin: 0;
        color: $dark-color;
        font-size: 18px;
        line-height: normal;
    }
    &__right {
        max-width: 723px;
        width: 100%;
        margin-left: 30px;
    }
    &__video {
        a {
            display: block;
            position: relative;
            span {
                display: block;
                &.is--play {
                    width: 89px;
                    height: 89px;
                    background: url(../../img/play.png);
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: -45px auto 0 auto;
                    top: 50%;
                    transition: .25s all ease;
                    opacity: .9;
                }
            }
            &:hover {
                span {
                    &.is--play {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.inpluses {
    margin-bottom: 150px;
    .heading {
        margin-bottom: 100px;
    }
    &__inner {
        @extend .container;
        margin-bottom: 70px;
        ul {
            display: flex;
            margin: 0 -15px;
            justify-content: space-between;
            li {
                max-width: 16.66666%;
                padding: 0 15px;
                width: 100%;
            }
        }
    }
    &__block {
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        min-height: 240px;
        padding: 50px 0 30px 0;
        transition: .25s all ease;
        &:hover {
            transform: translateY(-20px);
        }
    }
    &__icon {
        text-align: center;
        height: 70px;
        img {
            max-height: 75px;
            height: 100%;
            width: auto;
        }
    }
    &__text {
        color: $dark-color;
        padding: 30px 35px 0 35px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        cursor: default;
    }
    &__btn {
        text-align: center;
    }
}

.documents {
    margin-bottom: 150px;
    &__inner {
        @extend .container;
        .heading {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;
        }
    }
    &__wrap {
        margin-bottom: 70px;
        ul {
            display: flex;
            margin: 0 -15px;
            li {
                max-width: 16.6%;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
    &__btn {
        text-align: center;
    }
}

.about {
    padding-top: 50px;
    &__inner {
        @extend .container;
        .heading {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__text {
        max-width: 740px;
        p {
            margin: 0;
            color: $dark-color;
            font-size: 18px;
            line-height: normal;
        }
    }
    &__video {
        margin-bottom: 150px;
    }
}

.infoblock {
    padding: 65px 0;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 100%;
        max-width: 50%;
    }
    &__content {
        max-width: 60%;
        width: 100%;
        margin-left: -10%;
        padding: 50px 100px;
        background: #fff;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 100;
        min-height: 330px;
        display: flex;
        align-items: center;
    }
    &.is--right {
        .infoblock {
            &__inner {
                flex-flow: wrap;
            }
            &__img {
                order: 1;
            }
            &__content {
                margin: 0 -10% 0 0;
            }
        }
    }
    &__title {
        color: $dark-color;
        font-size: 36px;
        font-weight: normal;
        line-height: normal;
        margin-bottom: 20px;
    }
    &__content {
        p {
            margin: 0 0 20px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.shows {
    margin-bottom: 150px;
    &__inner {
        @extend .container;
        .heading {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__container {
        ul {
            display: flex;
            margin: 0 -15px;
            flex-wrap: wrap;
            li {
                padding: 15px;
                max-width: 33.333333%;
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    &:hover {
                        .shows {
                            &__text {
                                opacity: 1;
                            }
                        }
                    }
                    .shows {
                        &__text {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: rgba(#000, .5);
                            color: #fff;
                            font-size: 20px;
                            padding: 20px;
                            text-align: center;
                            line-height: 24px;
                            transition: .25s all ease;
                            opacity: 0;
                        }
                    }
                }
            }
            .is--hidden {
                display: none;
            }
        }
    }
}

.contacts {
    &__inner {
        @extend .container;
        padding-top: 50px;
        .heading {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;
        }
    }
    &__top {
        padding-bottom: 80px;
        &__inner {
            @extend .container;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -15px;
        }
        &__block {
            margin: 0 15px 30px 15px;
            max-width: 230px;
            width: 100%;
            &__title {
                font-size: 24px;
                color: $primary-color;
                position: relative;
                padding-left: 20px;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 9px;
                    width: 9px;
                    height: 9px;
                    background: $primary-color;
                    border-radius: 100%;
                }
            }
            ul {
                li {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 9px;
                    span {
                        &.is--name {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    &__map {
        height: 700px;
    }
}

.help {
    &__inner {
        @extend .container;
        padding-top: 50px;
        .heading {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.question {
    padding-top: 100px;
    margin-bottom: 150px;
    .heading {
        margin-bottom: 60px;
    }
    &__container {
        li {
            margin-bottom: 25px;
        }
    }
    &__block {
        background: #fff;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        &__heading {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 35px 60px;
            user-select: none;
            &__title {
                font-size: 24px;
                color: $dark-color;
            }
            &__btn {
                margin-left: 20px;
                span {
                    &.is--minus {
                        display: none;
                        svg {
                            fill: $secondary-color;
                        }
                    }
                    &.is--plus {
                        svg {
                            fill: $primary-color;
                        }
                    }
                }
            }
        }
        &.is--open {
            .question {
                &__block {
                    &__heading {
                        &__btn {
                            span {
                                &.is--minus {
                                    display: block;
                                }
                                &.is--plus {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__content {
            padding: 0 60px 70px 60px;
            max-width: 750px;
            display: none;
            p {
                margin: 0;
                color: $dark-color;
                font-size: 18px;
            }
        }
    }
}

.basket {
    margin-bottom: 50px;
    &__inner {
        @extend .container;
        padding-top: 50px;
        .heading {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 1380px) {
    .catalog {
        &__carousel {
            &__container {
                &.is--normal {
                    .catalog__card {
                        &__text {
                            font-size: 18px;
                        }
                    }
                }
            }
            &__arrows {
                button {
                    &.is--prev {
                        left: -60px;
                    }
                    &.is--next {
                        right: -60px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1310px) {
    .banner {
        &__right {
            max-width: 450px;
        }
    }
}

@media (max-width: $resp1200) {
    .inpluses {
        &__inner {
            ul {
                flex-wrap: wrap;
                li {
                    max-width: 33.333333%;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .catalog {
        &__current {
            &__top {
                flex-wrap: wrap;
                flex-flow: wrap;
                &__right {
                    margin: 0 auto 50px auto;
                    padding-top: 0;
                }
                &__left {
                    order: 1;
                    max-width: 100%;
                }
                &__img {
                    width: auto;
                    height: auto;
                    padding: 50px 100px;
                    img {
                        max-height: 300px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
        &__carousel {
            &__container {
                .catalog__card {
                    max-width: 33.333333% !important;
                    &__inner {
                        padding: 20px 20px 40px 20px;
                    }
                }
            }
        }
    }
    .infoblock {
        &__content {
            margin-left: -30%;
            max-width: 70%;
            padding: 25px 50px;
            min-height: 0;
        }
        &__title {
            font-size: 28px;
        }
        &.is--right {
            .infoblock {
                &__content {
                    margin: 0 -30% 0 0 !important;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .catalog {
        &__top {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        &__heading {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .inabout {
        &__inner {
            padding-top: 150px;
            padding-bottom: 150px;
            flex-wrap: wrap;
        }
        &__left {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &__right {
            margin-left: 0;
        }
        &__heading {
            font-size: 32px;
        }
        &__desc {
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}

@media (max-width: $resp1025) {
    .documents {
        &__wrap {
            ul {
                flex-wrap: wrap;
                li {
                    margin-bottom: 30px;
                    max-width: 33.333333%;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .banner {
        &__right {
            display: none;
        }
    }
}

@media (max-width: 890px) {
    .catalog {
        &__inner {
            padding-left: 30px;
            padding-right: 30px;
        }
        &__carousel {
            &__arrows {
                display: none;
            }
        }
        &__tabs {
            ul {
                flex-wrap: wrap;
                li {
                    width: 50%;
                    margin: 0 0 10px 0;
                    padding: 0 5px;
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .banner {
        &::after {
            font-size: 150px;
            top: 20%;
        }
        &__title {
            font-size: 58px;
        }
    }
    .inabout {
        &__inner {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .heading {
        margin-bottom: 40px !important;
        &.is--normal,
        &.is--xs {
            font-size: 28px;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .inpluses {
        margin-bottom: 50px;
        &__inner {
            ul {
                li {
                    max-width: 50%;
                }
            }
        }
    }
    .catalog {
        &__page {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &__card {
            &__inner {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            }
        }
    }
    .catalog {
        &__current {
            &__top {
                padding-top: 30px;
                &__img {
                    padding: 25px 50px;
                }
            }
            &__heading {
                font-size: 34px;
                line-height: 40px;
            }
            &__cart {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0;
                &__btn {
                    padding: 30px 0 0 0;
                    text-align: center;
                    width: 100%;
                    justify-content: center;
                }
            }
            &__desc {
                &__list {
                    ul {
                        li {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        &__carousel {
            &__container {
                .catalog__card {
                    max-width: 50% !important;
                }
            }
        }
        &__table {
            margin-bottom: 40px;
            &__wrap {
                margin-bottom: 40px;
            }
        }
    }
    .btn {
        padding: 20px 35px !important;
    }
    .documents {
        margin-bottom: 50px;
        &__wrap {
            margin-bottom: 40px;
        }
    }
    .form__call {
        margin-bottom: 30px;
    }
    .about {
        &__text {
            margin-bottom: 15px;
        }
        &__video {
            span {
                &.is--play {
                    width: 60px !important;
                    height: 60px !important;
                    background-size: cover !important;
                    margin-top: -30px !important;
                }
            }
        }
    }
    .infoblock {
        padding: 15px 0;
        &__content {
            margin: 0 !important;
            max-width: 100% !important;
            padding-left: 25px;
            padding-right: 25px;
        }
        &__title {
            font-size: 20px;
        }
        &__img {
            display: none;
        }
        p {
            font-size: 15px;
            line-height: 18px;
        }
    }
    .about {
        &__video {
            padding-top: 30px;
            margin-bottom: 50px;
        }
    }
    .shows {
        margin-bottom: 50px;
        &__heading {
            .heading {
                margin-bottom: 0 !important;
            }
        }
        &__container {
            ul {
                li {
                    max-width: 50%;
                    a {
                        .shows {
                            &__text {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    #map {
        height: 500px;
    }
    .question {
        padding-top: 50px;
        &__block {
            &__heading,
            &__content {
                padding-left: 15px;
                padding-right: 15px;
            }
            &__heading {
                &__title {
                    font-size: 18px;
                }
            }
            &__content {
                padding-bottom: 40px;
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }
    .question {
        margin-bottom: 50px;
    }
    .help {
        .heading {
            margin-bottom: 20px !important;
        }
    }
}

@media (max-width: 560px) {
    .catalog {
        &__tabs {
            ul {
                li {
                    width: 100%;
                }
            }
        }
        &__carousel {
            &__container {
                .catalog__card {
                    max-width: 100% !important;
                    &__text {
                        font-size: 24px !important;
                    }
                }
            }
        }
        &__card {
            &__inner {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .inpluses {
        &__inner {
            margin-bottom: 10px;
            ul {
                li {
                    max-width: 100%;
                }
            }
        }
    }
    .documents {
        &__wrap {
            ul {
                li {
                    max-width: 50%;
                }
            }
        }
    }
    .shows {
        &__container {
            ul {
                li {
                    max-width: 100%;
                }
            }
        }
    }
}