header {
    overflow: hidden;
    &.is--open {
        .navbar {
            &__mobile {
                &__container {
                    transform: translateX(0);
                }
            }
        }
    }
}

.navbar {
    background: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11000;
    transition: .25s all ease;
    &.is--scroll {
        box-shadow: 0 4px 50px rgba(0,0,0,.1);
    }
    &__inner {
        @extend .container;
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        overflow: hidden;
        align-items: center;
    }
    &__logo {
        max-width: 126px;
        width: 100%;
        margin-right: 55px;
    }
    &__menu {
        ul {
            display: flex;
            li {
                padding: 0 10px;
                a {
                    color: $dark-color;
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 3px 15px;
                    border: 1px solid transparent;
                    border-radius: 100px;
                    transition: .25s all ease;
                    &:hover {
                        border-color: $secondary-color;
                    }
                }
                &.is--active {
                    a {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    &__right {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    &__info {
        margin-left: 55px;
        margin-right: 50px;
        ul {
            display: flex;  
            li {
                a {
                    display: flex;
                    align-items: center;
                    color: $dark-color;
                    text-decoration: none;
                    font-size: 18px;
                    transition: .25s all ease;
                    &:hover {
                        color: $secondary-color;
                    }
                    span {
                        display: block;
                        &.is--icon {
                            margin-right: 7px;
                            svg {
                                fill: $secondary-color;
                            }
                        }
                    }
                }
                &.is--email {
                    margin-left: 35px;
                }
            }
        }
    }
    &__icons {
        margin: 0 -10px;
        ul {
            display: flex;
            align-items: center;
            li {
                margin: 0 10px;
                position: relative;
                cursor: pointer;
                a {
                    display: flex;
                    width: 44px;
                    height: 44px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    background: $primary-color;
                    svg {
                        fill: #fff;
                    }
                }
                &.is--search {
                    &.is--open {
                        .navbar__icons__search {
                            width: 315px;
                            opacity: 1;
                            visibility: visible;
                            input[type="text"] {

                            }
                        }
                    }
                }
            }
        }
        &__search {
            position: absolute;
            right: 0;
            width: 0;
            height: 44px;
            transition: .25s all ease;
            opacity: 0;
            visibility: hidden;
            form {
                position: relative;
                height: 100%;
                label {
                    position: absolute;
                    top: 50%;
                    margin-top: -11px;
                    left: 20px;
                    svg {
                        fill: #fff;
                    }
                }
                input[type="text"] {
                    height: 100%;
                    width: 100%;
                    display: block;
                    outline: none;
                    background: $primary-color;
                    color: #fff;
                    border-radius: 22px;
                    border: none;
                    padding-left: 45px;
                    padding-right: 15px;
                }
            }
        }
    }
    &__mobile {
        &__icon {
            display: none;
        }
        &__container {
            height: calc(100vh - 80px);
            top: 80px;
            position: fixed;
            background: $primary-color;
            width: 100%;
            max-width: 300px;
            left: 0;
            transform: translateX(-100vw);
            transition: .25s all ease;
            display: none;
            z-index: 10000;
            ul {
                padding: 10px 0;
                li {
                    a {
                        padding: 10px 15px;
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                    }
                    &.is--active {
                        a {
                            color: $secondary-color;
                        }
                    }
                }
                &.is--info {
                    svg {
                        fill: $secondary-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 1510px) {
    .navbar {
        &__logo {
            margin-right: 20px;
        }
        &__menu {
            ul {
                li {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        &__info {
            margin-left: 20px;
            margin-right: 20px;
        }
        &__icons {
            ul {
                li {
                    &.is--search {
                        &.is--open {
                            .navbar__icons__search {
                                width: 285px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1310px) {
    .navbar {
        &__info {
            display: none;
        }
    }
}

@media (max-width: 1075px) {
    .navbar {
        &__inner {
            height: 80px;
        }
        &__menu,
        &__right {
            display: none;
        }
        &__mobile {
            &__icon {
                display: block;
                margin-left: auto;
                button {
                    outline: none;
                    padding: 0;
                    span.hamburger-inner,
                    span::before,
                    span::after {
                        background: $primary-color;
                    }
                    &.is-active {
                        span.hamburger-inner,
                        span::before,
                        span::after {
                            background: $secondary-color !important;
                        }
                    }
                }
            }
            &__container {
                display: block;
            }
        }
    }
}